**La fonction input**

In [ ]:
print("Saisissez votre prenom : ")
prenom = input()
print("Votre prenom est : ")
print(prenom)

**Fonction input – type de données par défaut (error)**

In [ ]:
age = input("Saisissez votre age : ")
demiAge = age / 2
print(demiAge)

**Fonction int**

In [ ]:
age = int(input("Saisissez votre age : "))
demiAge = age / 2
print(demiAge)

**Les fonctions int et float**

In [ ]:
ageDuPere = input("Saisissez l'age du père: ")
ageDeLaMere = int(input("Saisissez l'age de la mère : "))
tailleDuPere = float(input("Saisissez la taille du père: "))
print(type(ageDuPere))
print(type(ageDeLaMere))
print(type(tailleDuPere))
print(ageDuPere)
print(ageDeLaMere)
print(tailleDuPere)

**La fonction print**

In [ ]:
prenom = "Angelique"
age = 12
print("Prenom : ")
print(prenom)
print("Age : ")
print(age)

**La concaténation des données à l'écran (error)**

In [ ]:
nomProduit = "Baguette"
prixProduit = 30
print("Nom : "+nomProduit)
print("Prix : "+prixProduit)

**La concaténation des données à l'écran**

In [ ]:
nomProduit = "Baguette"
prixProduit = 30
print("Nom : "+nomProduit)
print("Prix : "+str(prixProduit))

**Print en les séparant par des virgules**

In [ ]:
nomProduit = "Baguette"
prixProduit = 30
print("Nom :",nomProduit,"- Prix :", prixProduit)

**Exercice E6.1.**

In [ ]:
ageJoanDArc = 19
ageMarieCurie = input("Saisissez l'age : ")
ageMarieCurieModifie = int(ageMarieCurie)