**Programmation de notre première boucle for**

In [ ]:
ages = [25, 7, 39]

for age in ages:
  print(age)

print("Fin de l'exécution")

**La boucle de for avec des chaînes de caractères**

In [ ]:
message = "ASE SoHO"

for caractere in message:
  print(caractere)

**La boucle for avec des dictionnaires**

In [ ]:
cycliste = {"prenom":"Egan", "nom":"Bernal", "equipe":"Ineos"}

for cle in cycliste:
  print(cle+" : "+cycliste[cle])

**La boucle for avec des listes contenant des dictionnaires**

In [ ]:
discotheque1 = {"nom":"Badaboum", "lieu":"Paris"}
discotheque2 = {"nom":"DC10", "lieu":"Ibiza"}

discotheques = [discotheque1, discotheque2]

for discotheque in discotheques:
  print(discotheque["nom"]+" - "+discotheque["lieu"])

**La fonction range**

In [ ]:
nombres = [1, 2, 3, 4, 5]

for nombre in nombres:
  print(nombre)

**La fonction range avec un seul argument**

In [ ]:
for nombre in range(6):
  print(nombre)

**La fonction range avec plusieurs arguments**

In [ ]:
for nombre in range(1, 7, 2):
  print(nombre)

**Exercice E13.1.**

In [ ]:
fin = int(input())
for nombre in range(fin):
  print("Manu Chao")

**Exercice E13.3.**

In [ ]:
listeDesCourses = ["Le pain", "Les oeufs ", "Le lait"]
for article in listeDesCourses:
  print(article)