**La création d'une tuple**

In [ ]:
ages = (28, 67, 40, 15)

In [ ]:
couleurs = ("Jaune", "Blue", "Rouge")
print(couleurs)
print(type(couleurs))

**L'accès aux éléments d'une tuple**

In [ ]:
footballeurs = ("Cristiano", "Messi", "Lewandowski", "Mbappé")
print(footballeurs[0])
print(players[len(footballeurs)-1])

**Opération non valide**

In [ ]:
footballeurs = ("Cristiano", "Messi", "Lewandowski", "Mbappé")
footballeurs[0] = "Haaland"

**La création d'un set**

In [ ]:
ages = {28, 67, 40, 15}

In [ ]:
planets = {"Earth", "Mars", "Uranus", "Uranus"}
print(planets)
print(type(planets))

**Accéder aux éléments d'un set (erreur)**

In [ ]:
planetes = {"Terre", "Mars", "Uranus", "Uranus"}
print(planetes[0])

**Accéder aux éléments d'un set**

In [ ]:
planetes = {"Terre", "Mars", "Uranus"} 
for planete in planetes:
  print(planete)

**Ajouter des éléments à un set**

In [ ]:
planetes = {"Terre", "Mars", "Uranus"}
planetes.add("Jupiter")
print(planetes)

**Supprimer des éléments d'un set**

In [ ]:
planetes = {"Terre", "Mars", "Uranus"}
planetes.remove("Terre")
print(planetes)