**Les compteurs avec listes**

In [ ]:
ages = [34, 50, 28, 20, 44]

compteurPlus30 = 0
i = 0
while(i < len(ages)):
  if(ages[i] > 30):
    compteurPlus30 = compteurPlus30+1
  i = i+1

print("Total de personnes qui dépasse 30 ans : "+str(compteurPlus30))

**Les Compteurs avec listes contenant des dictionnaires**

In [ ]:
ville1 = {"nom":"Envigado", "population":249800}
ville2 = {"nom":"Sabaneta", "population":87981}
ville3 = {"nom":"Rionegro", "population":147484}

villes = [ville1, ville2, ville3]
compteur = 0

for ville in villes:
  if(ville["population"] > 90000):
    compteur = compteur+1

print("Quantite de villes dont la population dépasse 90000 : " + str(compteur))

**Les accumulateurs avec des listes**

In [ ]:
salaires = [3000, 1500, 800]

accumulateurSalaire = 0
i = 0
while(i < len(salaires)):
  accumulateurSalaire = accumulateurSalaire + salaires[i]
  i = i+1

print("Montant total des salaires : "+str(accumulateurSalaire))

**Les accumulateurs avec listes contenant des dictionnaires**

In [ ]:
ville1 = {"nom":"Envigado", "population":249800}
ville2 = {"nom":"Sabaneta", "population":87981}
ville3 = {"nom":"Rionegro", "population":147484}

villes = [ville1, ville2, ville3]
accumulateur = 0

for ville in villes:
  accumulateur = accumulateur + ville["population"]

moyenne = accumulateur/len(villes)
print("Population moyenne : "+str(moyenne))

**Les drapeaux**

In [ ]:
notes = [4.0, 2.0, 1.2, 4.7, 1.7]
drapeauxNoteSuperieure = False

for note in notes:
  if(note > 4.5):
    drapeauxNoteSuperieure = True
    break

if(drapeauxNoteSuperieure):
  print("Vous avez obtenu au moins une mention très bien")
else:
  print("Vous avez obtenu au moins une mention très bien")

**Exercice E15.2.**

In [ ]:
ages = [20, 10, 29]

for age in ages:
  if(age < 15):
    break
  print(age)

**Exercice E15.3.**

In [ ]:
a1 = {"nom":"2022 HX1", "distance":1547214}
a2 = {"nom":"2022 HA2", "distance":2870734}
a3 = {"nom":"101955 Bennu", "distance":20188350}
asteroides = [a1, a2, a3]