**Définir une variable**

In [ ]:
age = 21

**Les types de variables**

In [ ]:
nom = "Marie"
age = 21
taille = 163.9

**L’impression des variables**

In [ ]:
nom = "Marie"
age = 21
taille = 163.9

print(nom)
print(age)
print(taille)

**Erreur lors de l'utilisation d'une variable non définie**

In [ ]:
age = 21
print(agee)

**Modifier la valeur d'une variable**

In [ ]:
prixProduit = 150
print(prixProduit)
prixProduit = 250
print(prixProduit)

**Modifier la valeur et le type d'une variable**

In [ ]:
prixProduit = 150
print(prixProduit)
prixProduit = 250.5
print(prixProduit)

**Réutiliser des variables pour en définir de nouvelles**

In [ ]:
ageAmelie = 10
ageJulien = 20
somme = ageAmelie + ageJulien
moyenne = somme / 2
print(moyenne)

**La fonction type**

In [ ]:
prixProduit = 150
print(type(prixProduit))
prixProduit = 250.5
print(type(prixProduit))

**Des commentaires en Python**

In [ ]:
# La ligne suivante représente le salaire mensuel d'une personne
salaire = 5000

""" Nous diviserons le salaire par 2 pour le répartir entre les membres de la famille
et imprimer le résultat à l'écran """
print(salaire / 2)

**Exercice E5.1.**

In [ ]:
totalAPayer = 1450.7
nomDuProduit = "iPhone 14"
satellites = 7
moteurs = "4"

**Exercice E5.3.**

In [ ]:
age Du Chat = 7
mon_email = "test@gmail.com"
emailDuplique = mon_email